<H1>Clinic</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf="clinicForm.dirty && clinicForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="clinicForm.dirty && description.invalid">Enter atleast 5 characters in Description</div>
  
  <form (ngSubmit)="!clinicForm.invalid && saveClinic()" #clinicForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input type="text" #description="ngModel" 
            [(ngModel)]="clinic.clinic_description" class="form-control" 
                name="description" required="required" minlength="5"
                placeholder="Test clinic">
    </fieldset>

    <fieldset class="form-group">
        <label>clinic_phone_number</label>
        <input type="text" #clinic_phone_number="ngModel"
        [ngModel]="clinic.clinic_phone_number"
        (ngModelChange)="clinic.clinic_phone_number = $event"
        class="form-control" name="clinic_phone_number" required="required" maxlength="20"
        placeholder="012345" >
    </fieldset>

    

    <label>
      Speciality:
      <select [(ngModel)]="clinic.speciality" name="speciality" id="speciality">
        <option *ngFor="let option of specialities" [value]="option">{{option}}</option>
      </select>
    </label>

    

    <label>
      State:
      <select [(ngModel)]="clinic.clinic_state" name="clinic_state">
        <option *ngFor="let state of  ['ACTIVE','INACTIVE','IN_REVIEW']" [value]="state">{{state}}</option>
      </select>
    </label>
    
    <button type="submit" class="btn btn-success">Save</button>
  </form>  

</div>