<H1>Welcome!</H1>

<div class="container">
  Welcome {{name}}. Go to ALL clinics <a routerLink="/clinics">here</a>
</div>

<div class="search-container">
  <form>
    <input type="text" id="especialidad" name="especialidad" placeholder="Ingrese especialidad">

    <input type="text" id="lugar" name="lugar" placeholder="Ingrese lugar">

    <button type="submit">Buscar</button>
  </form>
</div>


<div class="container">
  Need? Click here to get a customized welcome message 
  <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
    <H2>Your Customized Welcome Message</H2>
    {{welcomeMessageFromService}}
  </div>